name: 'Build and Release'

on:
  push:
    branches: [ 'main', 'releases/*' ]

permissions:
  contents: read

jobs:
  build_and_test:
    runs-on: ubuntu-latest   
    outputs: 
      version: ${{ steps.nuget.outputs.value }}
 
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      with:
        fetch-depth: 0

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v4.2.0
      with:
        versionSpec: '6.4.x'

    - name: Compute version
      uses: gittools/actions/gitversion/execute@v4.2.0
      id: version

    - name: Compose NuGet stable version
      id: nuget
      run: |
        VERSION="${{ steps.version.outputs.major }}.${{ steps.version.outputs.minor }}.${{ steps.version.outputs.patch }}"
        echo "value=$VERSION" >> $GITHUB_OUTPUT
        echo "NuGet version: $VERSION"
        
    - name: Setup DotNet
      uses: actions/setup-dotnet@v5.0.1
      with:
        dotnet-version: 10.0.x

    - name: Restore solution
      run: |
        dotnet restore Frcs6.Extensions.Caching.MongoDB.sln

    - name: Clean project
      run: |
        dotnet clean Frcs6.Extensions.Caching.MongoDB.sln

    - name: Build solution
      run: |
        dotnet build Frcs6.Extensions.Caching.MongoDB.sln \
          -c Release \
          --no-restore \
          /p:Version=${{ steps.version.outputs.semVer }} \
          /p:AssemblyVersion=${{ steps.version.outputs.assemblySemVer }} \
          /p:FileVersion=${{ steps.version.outputs.assemblySemFileVer }} \
          /p:InformationalVersion=${{ steps.version.outputs.informationalVersion }}

    - name: Test solution
      run: |
        dotnet test Frcs6.Extensions.Caching.MongoDB.sln  \
          -c Release \
          --no-build \
          /p:CollectCoverage=true \
          /p:CoverletOutputFormat=opencover

    - name: Build examples
      run: |
        dotnet build Frcs6.Extensions.Caching.MongoDB.Examples.sln \
          -c Release \
          -f net10.0

    - name: Package NuGet
      run: |
        dotnet pack ./src/Frcs6.Extensions.Caching.MongoDB/Frcs6.Extensions.Caching.MongoDB.csproj \
          -c Release \
          --no-build \
          -o ./artifact \
          /p:PackageVersion=${{ steps.nuget.outputs.value }}

    - name: Upload artifact
      uses: actions/upload-artifact@v6.0.0
      with:
        name: Frcs6.Extensions.Caching.MongoDB
        path: artifact

    - name: Publish coverage to Codecov
      uses: codecov/codecov-action@v5.5.2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        slug: frcs6/Frcs6.Extensions.Caching.MongoDB

  publish_release:
    needs: build_and_test
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
    - name: Download artifact
      uses: actions/download-artifact@v7.0.0
      with:
        path: artifact
        pattern: Frcs6.Extensions.Caching.MongoDB

    - name: Release artifact
      uses: ncipollo/release-action@v1.20.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        allowUpdates: true
        artifacts: "artifact/**/*.nupkg"
        tag: v${{ needs.build_and_test.outputs.version }}
        name: Release v${{ needs.build_and_test.outputs.version }}
        draft: false
        prerelease: ${{ github.ref != 'refs/heads/main' }}
  
  publish_nuget:
    needs: build_and_test
    runs-on: ubuntu-latest
    permissions:
      packages: write
    strategy:
      matrix:
        include:
          - registry: github
            source: https://nuget.pkg.github.com/frcs6/index.json
            api_key: ${{ secrets.GITHUB_TOKEN }}
          - registry: nuget_org
            source: https://api.nuget.org/v3/index.json
            api_key: ${{ secrets.NUGET_API_KEY }}

    steps:
    - name: Download artifact
      uses: actions/download-artifact@v7.0.0
      with:
        path: artifact
        pattern: Frcs6.Extensions.Caching.MongoDB

    - name: Setup DotNet
      uses: actions/setup-dotnet@v5.0.1
      with:
        dotnet-version: 10.0.x

    - name: Push to ${{ matrix.registry }} registry
      run: |
        dotnet nuget push ./artifact/**/*.nupkg \
          --source "${{ matrix.source }}" \
          --api-key "${{ matrix.api_key }}"
