name: 'Pull requests'

on:
  pull_request:
    branches: [ 'main', 'releases/*' ]

jobs:
  pr_build_and_test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dotnet-version: ['10.0']
 
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1

    - name: Setup DotNet
      uses: actions/setup-dotnet@v5.0.1
      with:
        dotnet-version: ${{ matrix.dotnet-version }}.x
        dotnet-quality: 'preview'

    - name: Restore solution
      run: |
        dotnet restore Frcs6.Extensions.Caching.MongoDB.sln \
          -p:TargetFramework=net${{ matrix.dotnet-version }}

    - name: Clean project
      run: |
        dotnet clean Frcs6.Extensions.Caching.MongoDB.sln \
          -f net${{ matrix.dotnet-version }}

    - name: Build solution
      run: |
        dotnet build Frcs6.Extensions.Caching.MongoDB.sln \
          -c Release \
          -f net${{ matrix.dotnet-version }} \
          --no-restore

    - name: Test solution
      run: |
        dotnet test Frcs6.Extensions.Caching.MongoDB.sln \
          -c Release \
          -f net${{ matrix.dotnet-version }} \
          --no-build \
          /p:CollectCoverage=true \
          /p:CoverletOutputFormat=opencover

    - name: Restore examples
      if: ${{ contains(matrix.dotnet-version, '10.0') }}
      run: | 
        dotnet restore Frcs6.Extensions.Caching.MongoDB.Examples.sln \
          -p:TargetFramework=net${{ matrix.dotnet-version }}

    - name: Build examples
      if: ${{ contains(matrix.dotnet-version, '10.0') }}
      run: | 
        dotnet build Frcs6.Extensions.Caching.MongoDB.Examples.sln \
          -c Release \
          -f net${{ matrix.dotnet-version }} \
          --no-restore

    - name: Publish coverage to Codecov
      uses: codecov/codecov-action@v5.5.2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        slug: frcs6/Frcs6.Extensions.Caching.MongoDB
        flags: dotnet-${{ matrix.dotnet-version }}
